#game{
	display: inline;
	padding: 4px;
	background-color: red;
	margin-top: 0px;
}

#canvascontainer{
    float: left;
	width: 90%;
	text-align: center;
	margin-left:5%;
	margin-right:5%;
	margin-top: 0px;
}

body{
	background-color: white;
}
